body{
    background-color: #a1a1a1;
}
.header{
    width: 100vw;
    height: 540px;
    background-color: white;
}

.header p{
    color: #6e6e68;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header h2{
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    margin-top: 80px;
}

.text-band p.subtitle {
    color: black;
    text-align: left;
    margin-left: 20vw;
    margin-right: 20vw;
}