.albums{
    width:70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    float: left;
}

.albums ul{

    float: left;
    width: 50vw;
    list-style-type: none;
    height: 100%;
    margin-right: 10vw;
    margin-left: 10vw;

}
.albums li{

    display: inline-block;
    list-style-type: none;
}
img{
    width: 300px;
    height: 300px;
}