html * {
    margin: 0px;
    padding: 0px;
    font-family: "Arial Rounded MT Bold";

}
.navigationBar{
    height: 20px;
    width: 100vw;
    background-color: black;
}

.navigationBar a {
    color: white;
    text-decoration: none;
}
.navigationBar a:hover {
    text-decoration: underline;
}


.navigationBar ul{
    list-style-type: none;
    width: 100%;
}

.navigationBar :hover{
    background-color: #a1a1a1;
}

.navigationBar ul li {
    float: left;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 37px;

}

.banner{
    position:relative;
    width: 100vw;
    height: auto;
}
banner-text-min p {
    font-family: Calibri;
    font-size:20px;
}
.banner .banner-text-min{
    color: #fff8f9;
    top: 43vw;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 101;
}

.banner .banner-text{
    color: #fff8f9;
    top: 40vw;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 101;
}
.banner-text p{
    font-family: Calibri;
    font-size: 60px;
}

.banner img {
width: 100vw;
    height: auto;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    z-index: 100;
}




body {

}
