html * {
    margin: 0px;
    padding: 0px;
    font-family: "Arial Rounded MT Bold", serif;

}
.navigationBar{
    height: 40px;
    width: 100vw;
    background-color: black;
}

.navigationBar a {
    color: white;
    text-decoration: none;
}
.navigationBar a:hover {
    text-decoration: underline;
}


.navigationBar ul{
    list-style-type: none;
    width: 100%;
}

.navigationBar :hover{
    background-color: #a1a1a1;
}

.navigationBar ul li {
    float: left;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 37px;

}

.banner{

    position:relative;
    width: 100vw;
    height: auto;
}

.banner .banner-text{
    color: #f50800;
    top: 40vw;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 101;
    margin-bottom: 20px}

.banner .banner-text{
    margin-top: 20px;
    font-family: Calibri, serif;
    font-size: 100px;
    position: relative;
}

.banner img {
    width: 100vw;
    height: auto;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    z-index: 100;
}

body{   }